.start-with-A {
    background-color: #fa8d68;
  }
  .start-with-B {
    background-color: #90d26c;
  }
  .start-with-C {
    background-color: #68a0fa;
  }
  .start-with-D {
    background-color: #fab668;
  }
  .start-with-E {
    background-color: #8368fa;
  }
  .start-with-F {
    background-color: #fa68b5;
  }
  .start-with-G {
    background-color: #5fe2c4;
  }
  .start-with-H {
    background-color: #f55a5a;
  }
  .start-with-I {
    background-color: rgb(208, 211, 12);
  }
  .start-with-J {
    background-color: rgb(141, 100, 100);
  }
  .start-with-K {
    background-color: rgb(112, 112, 184);
  }
  .start-with-L {
    background-color: rgb(253, 151, 240);
  }
  .start-with-M {
    background-color: rgb(137, 192, 255);
  }
  .start-with-N {
    background-color: rgb(138, 255, 102);
  }
  .start-with-O {
    background-color: rgb(79, 83, 42);
  }
  .start-with-P {
    background-color: rgb(255, 157, 45);
  }
  .start-with-Q {
    background-color: rgb(255, 125, 147);
  }
  .start-with-R {
    background-color: rgb(148, 148, 228);
  }
  .start-with-S {
    background-color: rgb(76, 192, 82);
  }
  .start-with-T {
    background-color: rgb(255, 124, 238);
  }
  .start-with-U {
    background-color: rgb(255, 199, 199);
  }
  .start-with-V {
    background-color: rgb(168, 157, 157);
  }
  .start-with-W {
    background-color: rgb(151, 3, 3);
  }
  .start-with-X {
    background-color: rgb(49, 134, 120);
  }
  .start-with-Y {
    background-color: rgb(114, 113, 156);
  }
  .start-with-Z {
    background-color: rgb(101, 168, 255);
  }